#
# Copyright (C) 2016 Jonathan Jason Dennis [Meticulus]
#                                       theonejohnnyd@gmail.com
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# chr_logd
#

type chr_logd, domain;
type chr_logd_exec, exec_type, file_type;

init_daemon_domain(chr_logd)

allow chr_logd log_device:chr_file rw_file_perms;
allow chr_logd hisi_log:file rw_file_perms;
allow chr_logd hisi_log:sock_file { unlink create setattr };
allow chr_logd hisi_log:dir rw_dir_perms;
