#
# This file was created since its the only place where I could 
# use custom rc scripts.
#


import /vendor.init.hi3635.rc
import /vendor.init.hisi.rc
#init.usb.rc is provided by CM

import /vendor.init.audio.rc
import /vendor.init.connectivity.rc
import /vendor.init.device.rc
import /vendor.init.extmodem.rc
import /vendor.init.manufacture.rc
import /vendor.init.performance.rc
import /vendor.init.platform.rc
import /vendor.init.protocol.rc

#To allow modifications
import /custom.init.mods.rc
import /custom.init.usb.rc

#init.trace.rc is provided by CM

#${ro.boardid.product}
import /vendor.init.5844.rc

import /vendor.init.post-fs-data.rc
