on early-init

on init

on early-fs

on fs

on post-fs

on post-fs-data

on early-boot
	write /sys/bus/platform/drivers/huawei,altek6045/firmware /system/miniisp/

on boot
	mkdir /data/nfc
	chown nfc nfc /data/nfc
	chown nfc nfc /sys/bus/i2c/devices/0-0028/nfc_fwupdate
	chmod 0664 /sys/bus/i2c/devices/0-0028/nfc_fwupdate
	chown nfc nfc /sys/bus/i2c/devices/0-0028/nxp_config_name
	chmod 0664 /sys/bus/i2c/devices/0-0028/nxp_config_name
	chown nfc nfc /sys/bus/i2c/devices/0-0028/nfc_brcm_conf_name
	chmod 0664 /sys/bus/i2c/devices/0-0028/nfc_brcm_conf_name
	chown nfc nfc /sys/bus/i2c/devices/0-0028/nfc_sim_switch
	chmod 0664 /sys/bus/i2c/devices/0-0028/nfc_sim_switch
	chown nfc nfc /sys/bus/i2c/devices/0-0028/nfc_sim_status
	chmod 0444 /sys/bus/i2c/devices/0-0028/nfc_sim_status
	chown nfc nfc /sys/bus/i2c/devices/0-0028/rd_nfc_sim_status
	chmod 0444 /sys/bus/i2c/devices/0-0028/rd_nfc_sim_status
	chown nfc nfc /sys/bus/i2c/devices/0-0028/nfc_enable_status
	chmod 0664 /sys/bus/i2c/devices/0-0028/nfc_enable_status


service chargemonitor /system/bin/chargemonitor -c /system/etc/ChargeMonitorConfig_GRACE.xml
    class late_start
    user root
    group system
    seclabel u:r:hisilogcat:s0

service HwCamCfgSvr /system/bin/HwCamCfgSvr hi3635 GRACE
    class main
    user media
    group audio camera inet net_bt net_bt_admin net_bw_acct drmrpc mediadrm system

